::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

#modalController {
  background-color: #cdccf0;
  width: 500px;
}

.modal__container {
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.modal__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__inputs input {
  padding: 20px;
  border-radius: 4px;
  outline: none;
}

.modal__inputs input::placeholder {
    font-size: 1.1rem;
}

.modal__buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    justify-content: end;
}


.btn  {
    padding: 15px;
    border-radius: 4px;
    background-color:#fff;
}

.modal__buttons button {
    border: 1px solid transparent;
}

.active {
    color: #fff;
    background-color: rgba(27, 27, 211, 0.514);
}








